<!DOCTYPE html>
<html>
<head>
    <title>Athena Luxury</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <meta property="og:image" content="/img/01.jpg">
   <meta name="theme-color" content="#ffffff">
   <meta property="og:locale" content="vi_VN">
<link rel="shortcut icon" href="http://admin.379.com.vn/cdn/upload/informationbasic/2018/08/01/11/29/1533097798_lgoo-379-brown.final.png">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 
    {{{body}}}
 <script type="text/javascript">
$(document).ready(function(){
     $("#myCarousel").carousel({
         interval : 7000,
         pause: false
     });
});
</script>
</body>
</html>