<div class="container">
    <div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>
    <header class="container-header">
        <div class="logo-desktop">
            <div href="#" class="inner-logo-desktop">
            </div>
            <a target="_blank" href="https://www.facebook.com/Athenaluxurydannangriverside" class="fb-logo"> <img
                    class="img-fluid"></a>
            <a target="_blank" href="" class="phone"> <img class="img-fluid"></a>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a href="#gioi-thieu" class="nav-link">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a href="#vi-tri" class="nav-link">Vị trí</a>
            </li>
            <li class="nav-item">
                <a href="#tien-ich" class="nav-link">Tiện ích</a>
            </li>
            <li class="nav-item">
                <a href="#can-ho" class="nav-link">Căn hộ</a>
            </li>
            <li class="nav-item">
                <a href="#tin-tuc" class="nav-link">Tin tức</a>
            </li>
            <li class="nav-item">
                <a href="#thu-vien" class="nav-link">Thư viện</a>
            </li>

            <li class="nav-item">
                <a href="#lien-he" class="nav-link">Liên hệ</a>
            </li>
        </ul>
        <div class="header-right">
            <a target="_blank" href="/pdf/LEAFLET_SCREEN_PREVIEW.pdf" class="btn-brochure">
                <span>brochure
                </span>
                <img src="/img/brochure-icon.png">
            </a>
            <div class="header-right-mobile">
                <div id="hamburger" href="#">
                    <span></span>

                </div>
            </div>
        </div>
        <!-- MENU MOBIE -->
        <nav class="navMobie">
            <div class="container-menu-mobie">
                <ul class="navMenu">
                    <li class="nav-item active">
                        <a href="#gioi-thieu" class="nav-link">Giới thiệu</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a href="#vi-tri" class="nav-link">Vị trí</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a href="#tien-ich" class="nav-link">Tiện ích</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a href="#can-ho" class="nav-link">Căn hộ</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a href="#tin-tuc" class="nav-link">Tin tức</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a href="#thu-vien" class="nav-link">Thư viện</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a href="#lien-he" class="nav-link">Liên hệ</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- END MENU MOBIE -->
    </header>

    <section class="header-background-image">
        <div class="inner-background-image">

            <a href="#gioi-thieu" class="btn-next-screen">
                <img src="/img/arrow-dow.png">
            </a>
            <div class="slogan-text">
                <h2>Biểu tượng sống</h2>
                <h1>Nghỉ Dưỡng <span>Thượng Lưu </span> </h1>
                <h1>Giữa Lòng <span>Đà Nẵng</span></h1>
            </div>
        </div>
    </section>

    <section id="gioi-thieu" class="introduction">
        <div class="vignette-pattern-left">
            <img src="/img/vignette-pattern-left-1.png">
        </div>
        <div class="introduction-left">
            <div class="title-section">
                <span>01 </span>
                <div></div>
                <span>Giới Thiệu</span>
            </div>
            <h1 data-aos="fade-down">Tuyệt Tác <strong>Đẳng Cấp</strong><br> Bên Bờ <strong>Sông Hàn</strong></h1>
            <p data-aos="fade-up">Thuộc top những toà nhà cao nhất thành phố cùng 100% căn hộ hiện đại tầm nhìn thưởng
                ngoạn vẻ đẹp tuyệt
                mĩ của Vịnh Đà Nẵng bên cạnh bờ Sông Hàn thơ mộng cùng chuỗi tiện ích đẳng cấp 5*, Athena Luxury Đà Nẵng
                Riverside tự hào mang đến
                cho gia chủ đặc quyền sống nghỉ dưỡng thượng hạng bậc nhất và duy nhất tại Thành phố Biển Vịnh xinh đẹp
                Đà Nẵng với Quy mô dự án:</p>
            <div data-aos="fade-up" class="building-infomation">
                <h4>
                    Tổng diện tích khu đất:
                </h4>
                <h5>
                    7172 m2
                </h5>
            </div>
            <div data-aos="fade-up" class="building-infomation">
                <h4>
                    Quy mô xây dựng dự kiến:
                </h4>
                <h5>
                    2 tòa chung cư
                </h5>
            </div>
            <div data-aos="fade-up" class="building-infomation">
                <h4>
                    Chiều cao công trình:
                </h4>
                <h5>
                    36 tầng nổi 2 tầng hầm
                </h5>
            </div>
            <div data-aos="fade-up" class="building-infomation">
                <h4>
                    Mật độ xây dựng:
                </h4>
                <h5>
                    45%
                </h5>
            </div>
            <div data-aos="fade-up" class="building-infomation">
                <h4>
                    Tổng diện tích sàn xây dựng:
                </h4>
                <h5>
                    112.000m2
                </h5>
            </div>
        </div>
        <div class="introduction-right">
            <img data-aos="zoom-in" class="img-fluid object-fit-cover" src="/img/tuyet_tac_dang_cap.jpg">
        </div>
    </section>
    <section id="vi-tri" class="position">
        <div class="inner-position">
            <div class="inner-position-left">
                <div class="container-owl-4">
                    <img class="img-fluid object-fit-cover" src="/img/position-left-example.png">
                    <div class="btn-next-position">
                        <img>
                    </div>
                    <div class="btn-prev-position">
                        <img>
                    </div>
                </div>
            </div>
            <div class="inner-position-right">
                <div class="container-position-right">
                    <div class="title-section">
                        <span>02</span>
                        <div></div>
                        <span>Vị trí</span>
                    </div>
                    <h1 data-aos="fade-down">Tâm điểm <strong>Phồn Vinh</strong><br> Tinh hoa <strong>Hội Tụ</strong>
                    </h1>
                    <p data-aos="fade-up">Toạ lạc tại vị trí đắc địa bên bờ sông Hàn, nơi giao lộ 4 mặt đường chính ấn
                        tượng: Lê Văn Duyệt,
                        Hồ Hán Thương, Bùi Dương Lịch và Nại Hưng 1 với vị thế bốn bề Núi - Sông - Vịnh Biển giữa trung
                        tâm Thành phố Đà Nẵng phồn vinh,
                        Athena Luxury Đà Nẵng Riverside tự hào vị thế độc tôn - riêng một đẳng cấp sống nghỉ dưỡng.</p>
                </div>
                <div class="container-owl-carousel-5">
                    <div id="owl-carousel-5" class="owl-carousel">
                        <div class="owl-item-position">
                            <img class="image-preview" src="/img/cang_da_nang.jpg">
                            <div class="container-icon-preview">
                                <img src="/img/plane-icon.png">
                            </div>
                            <div class="container-text-preview">
                                <h3>Cảng hàng không quốc tế Đà Nẵng</h3>
                            </div>

                        </div>
                        <div class="owl-item-position">
                            <img class="image-preview" src="/img/bai_bien_my_khe.jpg">
                            <div class="container-icon-preview">
                                <img src="/img/bai_bien_my_khe_icon.png">
                            </div>
                            <div class="container-text-preview">
                                <h3>Bãi biển Mỹ Khê </h3>
                                <h4>5,3KM - 9PHÚT</h4>
                            </div>
                        </div>
                        <div class="owl-item-position">
                            <img class="image-preview" src="/img/khan_dai_phao_hoa.jpg">
                            <div class="container-icon-preview">
                                <img src="/img/khan_dai_phao_hoa_icon.png">

                            </div>
                            <div class="container-text-preview">
                                <h3>Khán đài pháo hoa</h3>
                            </div>
                        </div>
                        <div class="owl-item-position">
                            <img class="image-preview" src="/img/khan_dai_phao_hoa.jpg">
                            <div class="container-icon-preview">
                                <img src="/img/khan_dai_phao_hoa_icon.png">
                            </div>
                            <div class="container-text-preview">
                                <h3>Khán đài pháo hoa</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </section>
    <section id="tien-ich" class="utilities">
        <div class="inner-utilities">
            <img src="/img/vignette-pattern-type-2.png" class="vignette-pattern">
            <div class="utilities-left">
                <img data-aos="fade-right" class="img-fluid object-fit-cover" src="/img/dac_quyen_tien_ich_left.jpg">
                <div class="container-five-star">
                    <span> 5* </span>
                    <span class="circle-fill-level-1"></span>
                </div>
            </div>
            <div class="utilities-right">
                <div class="inner-utilities-right">
                    <div class="title-section">
                        <span>03 </span>
                        <div></div>
                        <span>Tiện ích</span>
                    </div>
                    <h1 data-aos="fade-down">Đặc quyền tiện ích<br><strong>5* Đẳng cấp</strong></h1>
                    <p data-aos="fade-up">Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng
                        cấp thượng lưu chính
                        là đặc quyền thượng hạng trọn đời dành cho chủ nhân danh giá.</p>
                    <a target="_blank" href="/pdf/Ban_do_tien_ich.pdf" class="btn-map-utilities">
                        <span>bản đồ tiện ích
                        </span>
                        <img src="/img/arrow-right.png">
                    </a>
                    <div class="container-utilities-image-right">
                        <img class="vignette-pattern-right" src="/img/vignette-pattern-right-1.png">
                        <img data-aos="fade-left" class="object-fit-cover utilities-image-right"
                            src="/img/dac_quyen_tien_ich_right.jpg">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="can-ho" class="apartment">
        <div class="inner-apartment">
            <div data-aos="fade-left" class="apartment-left">
                <div class="container-title-apartment">
                    <div class="title-section">
                        <span>04 </span>
                        <div></div>
                        <span>Căn hộ</span>
                    </div>
                    <h1> <strong>Mặt bằng </strong> Điển hình</h1>
                </div>

                <div id='owl-carousel-1-dots'>
                    <div class="typical-grounds typical-grounds-1">
                        <ul class='owl-dots'>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                        </ul>
                        <h2 data-slide="0" class="active">Tầng điển hình</h2>
                    </div>
                    <div class="typical-grounds typical-grounds-2">
                        <ul class='owl-dots'>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                        </ul>
                        <h2 data-slide="1">Căn hộ 3 phòng ngủ</h2>
                    </div>
                    <div class="typical-grounds typical-grounds-3">
                        <ul class='owl-dots'>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                            <li class='owl-dot'></li>
                        </ul>
                        <h2 data-slide="2">Căn hộ 2 phòng ngủ</h2>
                    </div>
                </div>

            </div>
            <div data-aos="fade-right" class="apartment-right">
                <div id="owl-carousel-1" class="owl-carousel">
                    <img class="img-fluid object-fit-cover" src="/img/MB_FLOOR.jpg">
                    <img class="img-fluid object-fit-cover" src="/img/MB_3_PN.jpg">
                    <img class="img-fluid object-fit-cover" src="/img/MB_2_PN.jpg">
                </div>
            </div>
        </div>
    </section>

    <section id="tin-tuc" class="news">
        <div class="inner-news">
            <div class="news-header">
                <div class="news-header-left">
                    <div  class="title-section">
                        <span>05</span>
                        <div></div>
                        <span>Tin tức</span>
                    </div>
                    <h1 data-aos="fade-down"><strong>Tin Tức</strong> - Sự Kiện</h1>
                </div>
                <div data-aos="fade-down" class="news-header-right">
                    <ul class="news-header-right-menu">
                        <li class="active">nổi bật</li>
                        <li>sự kiện</li>
                        <li>tin tức</li>
                    </ul>
                </div>
            </div>
            <div class="news-content">
                <div id="owl-carousel-3" class="owl-carousel">
                    <div class="post-item">
                        <img data-aos="zoom-in" src="/img/post-img-1.jpg">
                        <div class="preview">
                            <h3>Tiệc cưới trên biển</h3>
                            <p>Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng cấp thượng
                                lưu hạng trọn đời ...</p>
                        </div>
                    </div>
                    <div class="post-item">
                        <img data-aos="zoom-in" src="/img/post-img-2.jpg">
                        <div class="preview">
                            <h3>Dịch vụ thuê tàu</h3>
                            <p>Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng cấp thượng
                                lưu chính ...</p>
                        </div>
                    </div>
                    <div class="post-item">
                        <img data-aos="zoom-in" src="/img/post-img-3.jpg">
                        <div class="preview">
                            <h3>Lướt trên con sóng</h3>
                            <p>Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng cấp thượng
                                lưu chính là ... </p>
                        </div>

                    </div>
                    <div class="post-item">
                        <img data-aos="zoom-in" src="/img/post-img-3.jpg">
                        <div class="preview">
                            <h3>Lướt trên con sóng</h3>
                            <p>Trải nghiệm sống sang, ngập tràn nắng, gió, biển giữa chuỗi tiện ích 5* đẳng cấp thượng
                                lưu chính là ... </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-controller">
                <span class="line"></span>
                <img class="btn-prev-post img-fluid">

                <div id="owl-carousel-3-dots" class="owl-controller-right">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>


                </div>
                <img class="btn-next-post img-fluid">

            </div>
        </div>

    </section>
    <section id="phat-trien-du-an" class="project-development">
        <div class="inner-project-development">
            <img src="/img/vignette-pattern-type-3.png" class="vignette-pattern-1">
            <img src="/img/vignette-pattern-type-3.png" class="vignette-pattern-2">
            <div class="project-development-left">
                <div data-aos="fade-down" class="title-section">
                    <span>06 </span>
                    <div></div>
                    <span>Phát triển dự án</span>
                </div>
                <h1> <strong>Chủ đầu tư </strong>dự án</h1>
            </div>
            <div class="project-development-right">
                <img class="img-fluid development-item prev-development-item">
                <div class="container-owl-carousel-2">
                    <div id="owl-carousel-2" class="owl-carousel">
                        <img class="object-fit-cover" src="/img/project-development-right-1.png">
                        <img class="object-fit-cover" src="/img/project-development-right-2.png">
                        <img class="object-fit-cover" src="/img/project-development-right-3.png">
                    </div>

                </div>
                <img class="img-fluid development-item next-development-item">
            </div>
        </div>
    </section>
    <section id="thu-vien" class="image-libary">
        <div class="inner-image-libary">
            <div class="image-libary-header">
                <div class="image-libary-left">
                    <div data-aos="fade-down" class="title-section">
                        <span>07</span>
                        <div></div>
                        <span>Thư viện</span>
                    </div>
                    <h1>Thư viện <strong>Ảnh</strong></h1>
                </div>
                <div class="image-libary-right">
                    <ul class="image-libary-right-menu">
                        <li class="active">Thư viện ảnh</li>
                        <li>Thư viện video</li>
                        <li><a href="/pdf/LEAFLET_SCREEN_PREVIEW.pdf" target="_blank">Brochure dự án</a></li>
                    </ul>
                </div>
            </div>
            <div class="image-libary-content">
                <div class="detail-image">
                    <div id="owl-carousel-6" class="owl-carousel">
                        <div class="item">
                            <img class="show-image" class="image-fluid" src="/img/image-liabary-example.jpg">

                        </div>
                        <div class="item">
                            <img class="show-image" class="image-fluid" src="/img/image-liabary-example-1.jpg">

                        </div>
                        <div class="item">
                            <img class="show-image" class="image-fluid" src="/img/image-liabary-example-2.jpg">

                        </div>
                        <div class="item">
                            <img class="show-image" class="image-fluid" src="/img/image-liabary-example-3.jpg">
                        </div>
                    </div>
                    <div class="btn-next-libary">
                        <img>
                    </div>
                    <div class="btn-prev-libary">
                        <img>
                    </div>
                </div>
                <div class="image-libary-content-bottom">
                    <div class="inner-content">
                        <div id="owl-carousel-7" class="owl-carousel">
                            <div class="owl-item-content">
                                <img src="/img/image-liabary-example.jpg">
                            </div>
                            <div class="owl-item-content">
                                <img src="/img/image-liabary-example-1.jpg">
                            </div>
                            <div class="owl-item-content">
                                <img src="/img/image-liabary-example-2.jpg">
                            </div>
                            <div class="owl-item-content">
                                <img src="/img/image-liabary-example-3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="lien-he" class="contact">
        <div class="inner-contact">
            <div class="inner-contact-left">
                <img class="object-fit-cover" src="/img/contact-image-left.jpg">
            </div>
            <div class="inner-contact-right">
                <div class="contact-right-content">
                    <div data-aos="fade-left" class="inner-contact-right-content">
                        <div class="container-content">
                            <div class="title-section">
                                <span>08</span>
                                <div></div>
                                <span>Liên hệ</span>
                            </div>
                            <h1> Athena Luxury <br> <strong> Đà Nẵng RiverSide</strong></h1>
                            <div class="address">
                                <div></div>
                                <p>Đường Lê Văn Duyệt, P. Nại Hiên Đông, Q.Sơn Trà, TP.Đà Nẵng</p>
                            </div>
                            <div class="phone">
                                <div></div>
                                <p>Hotline: 0939.272.234 - 0937.393.234</p>
                            </div>
                            <img class="img-fluid vignette-pattern" src="/img/vignette-pattern-left-1.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="tham-quan-nha-mau" class="visit-model-house">
        <div class="inner-visit-model-house">
            <div class="title-section">
                <span>09</span>
                <div></div>
                <span>Tham quan nhà mẫu</span>
            </div>
            <h1 data-aos="fade-down">ĐĂNG KÝ NHẬN THÔNG TIN</h1>
            <form class="form-visit">
                <input placeholder="Họ và tên">
                <input placeholder="Email">
                <input placeholder="Số điện thoại">
            </form>
            <div class="btn-submit-visit-form">
                <span>Đăng ký nhận tin</span>
                <img src="/img/arrow-right-1.png">
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="inner-footer">
            <div class="footer-top">
                <div class="content-left">
                    <img src="/img/logo-footer.png" class="img-fluid">
                </div>
                <div class="content-right">
                    <ul class="menu-footer">
                        <li>Tổng quan</li>
                        <li> <a href="#gioi-thieu">Giới thiệu</a></li>
                        <li> <a href="#vi-tri"> Vị trí</a></li>
                        <li> <a href="#tien-ich"> Tiện ích </a> </li>
                    </ul>
                    <ul class="menu-footer">
                        <li>Tin tức </li>
                        <li><a href="#tin-tuc">Nổi bật</a> </li>
                        <li><a href="#tin-tuc">Sự kiện</a> </li>
                        <li><a href="#tin-tuc">Tin tức</a> </li>
                    </ul>
                    <ul class="menu-footer">
                        <li href="#lien-he">Liên hệ </li>
                        <li><a>Hotline</a> </li>
                        <li><a target="_blank" href="https://www.facebook.com/Athenaluxurydannangriverside">Facebook</a>
                        </li>
                        <li><a target="_blank" href="/pdf/LEAFLET_SCREEN_PREVIEW.pdf">Brochure</a> </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="footer-bottom-left">
                    <p>© Copyright 2020 Athena Luxury Đà Nẵng Riverside</p>
                </div>
                <div class="footer-bottom-right">
                    <p>Mọi thông tin trong tài liệu này đúng tại thời phát hành và có thể điều chỉnh mà không cần báo
                        trước. Hình ảnh chỉ mang tính chất minh họa</p>
                </div>
            </div>

        </div>
    </section>


</div>