
<div id="fullpage">
  <div class="section" id="section1">
      <img style="width: 80%;" src="/img/01.jpg"> 
  </div>
  <div class="section" id="section2">
  <img style="width: 80%;" src="/img/02.jpg"> 
  </div>

  <div class="section" id="section3">
  <img style="width: 75%;" src="/img/03.jpg"> 
  </div>

  <div class="section" id="section4">
  <img style="width: 80%;" src="/img/04.jpg"> 
  </div>
    <div class="section" id="section5">
  <img style="width: 80%;" src="/img/05.jpg"> 
    </div>
</div>

