#section1,
#section2,
#section3,
#section4,
#section5 {
    text-align: center;
    position: relative;
}

#fp-nav ul li a span {
    background-color: #f00;
}

.fp-slidesNav ul li a span {
    background-color: #fff;
}


/* Shine */

.hover14 figure {
    width: 70%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
}

@media only screen and (max-width: 1024px) {
    .hover14 figure {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .hover14 figure {
        width: 80%;
    }
}

.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.hover14 figure:hover::before {
    -webkit-animation: shine 1.1s;
    animation: shine 1.1s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}