.slide {
    background-size: cover;
    background-position: center;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
    text-align: center;
}


/* #section2 {
    background-image: url("/img/02.jpg");
    background-size: 100%;
}

#section3 {
    background-image: url("/img/03.jpg");
    background-size: 100%;
}

#section4 {
    background-image: url("/img/04.jpg");
    background-size: 100%;
}

#section5 {
    background-image: url("/img/05.jpg");
    background-size: 100%;
} */

#fp-nav ul li a span {
    background-color: #f00;
}

.fp-slidesNav ul li a span {
    background-color: #fff;
}