<link href="/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
<div id="content" class="main-content">

    <div class="layout-px-spacing">
        {{#each messages}}
        <div class="mt-4 alert alert-success mb-2" role="alert"> <button type="button" class="close"
                data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg></button> <strong>Thông báo</strong> {{itune}} </div>
        {{/each}}
        <div class="row layout-top-spacing">

            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Sửa bài hát</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area br-6">
                        <form enctype="multipart/form-data" id="formEditClient" method="POST"
                            action="/admin/itunes/edit-itune/{{itune._id}}">
                            <div class="form-row mb-4">
                                <div class="form-group col-md-12">
                                    <label for="">Tên bài hát</label>
                                    <input name="name" value="{{itune.name}}" type="text" class="form-control"
                                        placeholder="Tên bài hát ">
                                </div>

                            </div>
                            <div class="form-row mb-4">
                                <div class="form-group col-md-12">
                                    <label for="">Top hiện tại</label>
                                    <input name="currentTop" value="{{itune.currentTop}}" type="text"
                                        class="form-control" placeholder="Top bài hát ">
                                </div>

                            </div>

                            <div class="form-row mb-4">
                                <div class="form-group col-md-12">
                                    <label for="">Ngày phát hành</label>
                                    <input id="dateTimeFlatpickr" name="releaseDate" type="text" class="form-control"
                                        placeholder="ngày phát hành">
                                </div>

                            </div>
                            <div class="form-row mb-2">

                                <div class="form-group col-md-12 mb-4 mt-3">
                                    <label>Ảnh thumnbail</label>
                                    <input form="formEditClient" name="home_image" type="file"
                                        class="form-control-file">
                                    <div class="row col-md-6 mt-2">
                                        <img alt="Chưa có ảnh " class="img-fluid" src="/img/homepage.png">
                                    </div>
                                </div>
                            </div>
                            <button id="submitForm" form="formEditClient" type="submit"
                                class="btn btn-info position-relative mt-3 mb-3 ml-2">Submit</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="/plugins/flatpickr/flatpickr.js"></script>

<script>

    $(document).ready(function () {


        var f1 = flatpickr(document.getElementById('dateTimeFlatpickr'), {
                   enableTime: false
        });

    });

</script>